body {
  margin: 0;
font-size: 18px; 
color: #333;
  font-family: sans-serif;
  line-height: 1.5;
}

h1 {
  margin-top: 50px; 
margin-bottom: 10px; 
font-size: 60px; 
text-align: center; }

main > h2 {
margin-top: 0px; 
padding-bottom: 30px; 
font-size: 25px; 
text-align: center; 
  
  border-bottom: 2px solid #e3e3e3;
}

main {
  width: 900px;
  margin: auto;
}

main > section {
  margin: 50px 0;
  padding: 0 50px;
}

main > section > h2 {
padding: 0;
text-align: left;
border-style: none;
}

ul > li {
  margin-bottom: 10px;
}

/* END */
